<h1><%= t('.log_in') %></h1>

<%= form_tag session_path do %>

  <fieldset>
    <div class="clearfix">
      <label><%= t('.email') %></label>
      <div class="input">
        <%= text_field_tag :email, params[:email] %>
      </div>
    </div>
    <div class="clearfix">
      <label><%= t('.password') %></label>
      <div class="input">
        <%= password_field_tag :password %>
      </div>
    </div>
  </fieldset>
    
  <div class="actions">
    <%= submit_tag t('.submit'), class: 'btn primary' %>
  </div>

<% end %>
