<%= form_for @book, html: { class: 'form-horizontal' } do |f| %>
  
  <% unless @book.errors.empty? %>
    <div class='alert alert-block alert-error'>
      <h2 class='alert-heading'><%= t('.book_save_failed') %></h2>
      <% @book.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <div class='control-group'>
      <label class='control-label' for="title"><%= t('.title') %></label>
      <div class='controls'>
        <%= f.text_field :title %>
      </div>
  </fieldset>
  
  <fieldset>
    <div class='control-group'>
      <label class='control-label' for="authors"><%= t('.authors') %></label>
      <div class='controls'>
        <%= f.text_field :authors %>
      </div>
  </fieldset>
  
  <fieldset>
    <div class='control-group'>
      <label class='control-label' for="isbn"><%= t('.isbn') %></label>
      <div class='controls'>
        <%= f.text_field :isbn %>
      </div>
  </fieldset>

  <fieldset>
    <div class='control-group'>
      <label class='control-label' for="cover_url"><%= t('.cover_url') %></label>
      <div class='controls'>
        <%= f.text_field :cover_url %>
      </div>
  </fieldset>

  <fieldset>
    <div class='control-group'>
      <label class='control-label' for="description"><%= t('.description') %></label>
      <div class='controls'>
        <%= f.text_field :description %>
      </div>
  </fieldset>

  <fieldset>
    <div class='controls'>
      <%= f.submit t('.save'), class: 'btn-primary' %>
      or
      <%= link_to t('.cancel'), books_path %>
    </div>
  </fieldset>
  
  
<% end %>