<h1><%= @book.title %></h1>

<div class="row">
  <div class="span7">
    <p>
    	by <%= @book.authors %>
    </p>

    <p>
    	ISBN: <%= @book.isbn %>
    </p>

    <p>
    	<%= @book.description %>
    </p>
    
    <div id="taggings-container">
      Tags: 
      <span id="taggings">
        <%= render @book.tags %>
      </span>
    </div>

    <%= link_to "Edit", edit_book_path(@book), class: 'btn' %>
    <%= link_to "Delete", book_path, method: :delete, class: 'btn btn-danger', confirm: 'Are you sure?' %>
    <p>
      <%= link_to "Back to list", books_path %>
    </p>
  </div>
  
  <div class="span4 well reservation-box">
    <h2>Reservation</h2>
    <div id="reservation-status">
      <%= render partial: "reservation_status", locals: {reservation: @book_reservation} %>
    </div>
    <span id="reservation-links">
      <%= render partial: "reservation_links", locals: {book: @book, reservation: @book_reservation} %>
    </span>
    <div id="reservation-form" style="display: none;">
    </div>
  </div>
</div>


