<%= form_for [@book, @reservation], remote: remote do |f| %>

  <% unless @reservation.errors.empty? %>
    <h2><%= t('.reservation_create_failed') %></h2>
    <% @reservation.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>

  <div>
    <%= t('.email') %><br/>
    <%= f.text_field :email %>
  </div>

  <%= f.submit t('.save') %>
  <%= t('.or') %>
  <%= link_to t('.cancel'), book_path(@book) %>

<% end %>